:root {
  --month-per-row: 4;
  --spaces-per-month: calc(var(--month-per-row) - 1);
}

@media (max-width: 1300px) {
  :root {
    --month-per-row: 3;
  }

  .fc-multimonth-month {
    height: max-content;
    height: 50%;
  }
}

@media (max-width: 900px) {
  :root {
    --month-per-row: 2;
  }

  .fc-multimonth-month {
    height: max-content;
    height: 60%;
  }
}

@media (max-width: 600px) {
  :root {
    --month-per-row: 1;
  }

  .fc-multimonth-month {
    height: max-content;
    height: 70%;
  }
}

.fc-multimonth {
  display: flex;
  flex-wrap: wrap; /* Permite quebrar a linha */
  gap: 1rem;
  justify-content: center; /* Centraliza os itens horizontalmente */
  width: 100%;
  height: max-content;
}

/* Define a largura para que caibam 3 itens por linha */
.fc-multimonth-month {
  flex: 0 0
    calc((100% - (var(--spaces-per-month) * 1rem)) / var(--month-per-row));
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  height: max-content;
  height: 40%;
}

.selected-flight-departure,
.selected-flight-return {
  background-color: #155dfc;
  color: #fff !important;
}

.departure-direct {
  background: #95dfbc;
}
.departure-layover {
  background: #51a2ff;
}

.return-direct {
  background: #ffd37f;
}
.return-layover {
  background: #ff9e9e;
}

.departure-direct:hover,
.departure-layover:hover,
.return-direct:hover,
.return-layover:hover {
  cursor: pointer;
}

.fc-event,
.fc-event-title,
.fc-event-dot {
  display: none !important;
}

.fc-day {
  aspect-ratio: 1 / 1;
  border-radius: 0.4rem;
}

.fc-daygrid-day-number {
  font-weight: 700;
}

.fc-day-today {
  background-color: transparent !important;
  border: none !important;
}

.fc-multimonth-title {
  background-color: #141414;
  color: #ffffff;
}

.fc .fc-multimonth-title {
  padding: 10px;
}

.fc-daygrid-day-frame {
  position: absolute;
}
